<html>
  <head></head>
  <body>
    <h1>Reminder: RFP Followup</h1>

    <p>
      This is a <b><%= projectAges.join(', ') %> day</b> reminder to follow up with <%= projectName %>.<br />
      The bid was submitted on <%= creationDate %>.
    </p>

    <hr />

    This is an automated email. Please do not reply as the inbox is not monitored.
  </body>
</html>
