{
  "database": {
    "host": "localhost",
    "user": "root",
    "password": "root",
    "database": "app_contractors"
  },
  "email": {
    "host": "smtp.mailtrap.io",
    "port": 2525,
    "secure": false,
    "auth": {
      "user": "username",
      "pass": "password"
    }
  },
  "rfpAges": [3, 7, 14, 30, 60, 90]
}
